<a href="https://colab.research.google.com/github/qiqiheda/python-ds-exercises/blob/main/1_assignement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

## GOAL
After Homework 1, you should understand and be able to apply the following functions:
- [pd.DataFrame.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)
- [pd.DataFrame.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)
- Basic mathematic operations: [max](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html), [min](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html),  [median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html),   [mean](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html),   [sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)
- [pd.Series.value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)
- [pd.DataFrame.shape](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.shape.html)
- [pd.DataFrame.nlargest](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nlargest.html) &  [pd.DataFrame.nsmallest](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nsmallest.html)
- [pd.DataFrame.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)
- [pd.DataFrame.tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html) and [pd.DataFrame.head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)
- [pd.DataFrame.groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) 
- [pd.DataFrame.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) & [pd.DataFrame.to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)
- [pd.DataFrame.set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

## Exercises 
All the exercises should be solved using a single line of code.

***Ex1.*** Load the CSV file "possum.csv" and store it in a variable named df

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [8]:
df = pd.read_csv("possum.csv")

In [9]:
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [49]:
df.loc[[0,1,2],:] # first three rows, all the columns

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0

In [50]:
df.loc[0,:] # first row, all the columns

case           1
site           1
Pop          Vic
sex            m
age          8.0
hdlngth     94.1
skullw      60.4
totlngth    89.0
taill       36.0
footlgth    74.5
earconch    54.5
eye         15.2
chest       28.0
belly       36.0
Name: 0, dtype: object

In [51]:
df.loc[0:2, :]

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0

In [52]:
df.loc[:, 'age'] #all the rows, column 'age'

0      8.0
1      6.0
2      6.0
3      6.0
4      2.0
      ...
99     1.0
100    1.0
101    6.0
102    4.0
103    3.0
Name: age, Length: 104, dtype: float64

In [53]:
df.loc[:, ['age','sex']] # all the rows, column age and sex (2 cols)

     age sex
0    8.0   m
1    6.0   f
2    6.0   f
3    6.0   f
4    2.0   f
..   ...  ..
99   1.0   m
100  1.0   m
101  6.0   f
102  4.0   m
103  3.0   f

[104 rows x 2 columns]

In [57]:
df.loc[:,'age':'eye'] # all the rows, column age to eye

     age  hdlngth  skullw  totlngth  taill  footlgth  earconch   eye
0    8.0     94.1    60.4      89.0   36.0      74.5      54.5  15.2
1    6.0     92.5    57.6      91.5   36.5      72.5      51.2  16.0
2    6.0     94.0    60.0      95.5   39.0      75.4      51.9  15.5
3    6.0     93.2    57.1      92.0   38.0      76.1      52.2  15.2
4    2.0     91.5    56.3      85.5   36.0      71.0      53.2  15.1
..   ...      ...     ...       ...    ...       ...       ...   ...
99   1.0     89.5    56.0      81.5   36.5      66.0      46.8  14.8
100  1.0     88.6    54.7      82.5   39.0      64.4      48.0  14.0
101  6.0     92.4    55.0      89.0   38.0      63.5      45.4  13.0
102  4.0     91.5    55.2      82.5   36.5      62.9      45.9  15.4
103  3.0     93.6    59.9      89.0   40.0      67.6      46.0  14.8

[104 rows x 8 columns]

In [58]:
df.loc[df.sex =='f'] #return data only for female

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
7,8,1,Vic,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,10,1,Vic,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0
10,11,1,Vic,f,9.0,93.3,57.2,89.5,39.0,77.2,51.3,14.9,31.0,34.0
11,12,1,Vic,f,5.0,94.9,55.6,92.0,35.5,71.7,51.0,15.3,28.0,33.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0
18,19,1,Vic,f,5.0,94.4,55.4,90.5,35.0,73.4,53.9,15.2,28.0,32.0
19,20,1,Vic,f,4.0,94.8,56.3,89.0,38.0,73.8,52.4,15.5,27.0,36.0
20,21,1,Vic,f,3.0,95.9,58.1,96.5,39.5,77.9,52.9,14.2,30.0,40.0
22,23,1,Vic,f,4.0,92.5,56.1,89.0,36.0,72.8,53.3,15.4,28.0,35.0
26,27,1,Vic,f,2.0,90.5,54.5,85.0,35.0,70.3,50.8,14.2,23.0,28.0
28,29,1,Vic,f,3.0,92.8,56.0,88.0,35.0,74.9,51.8,14.0,24.0,32.0
29,30,1,Vic,f,2.0,92.1,54.4,84.0,33.5,70.6,50.8,14.5,24.5,33.0
31,32,1,Vic,f,4.0,94.3,56.7,94.0,39.0,74.8,52.0,14.9,28.0,34.0
36,37,2,Vic,f,2.0,89.3,54.8,82.5,35.0,71.2,52.0,13.6,28.0,31.5
38,39,2,Vic,f,1.0,84.7,51.5,75.0,34.0,68.7,53.4,13.0,25.0,25.0
39,40,2,Vic,f,3.0,91.0,55.0,84.5,36.0,72.8,51.4,13.6,27.0,30.0
40,41,2,Vic,f,5.0,88.4,57.0,83.0,36.5,NaN,40.3,15.9,27.0,30.5
42,43,2,Vic,f,2.0,90.0,55.5,81.0,32.0,72.0,49.4,13.4,29.0,31.0
49,50,3,other,f,5.0,91.6,56.4,88.0,38.0,65.0,47.2,14.9,28.0,36.0
50,51,3,other,f,5.0,95.6,59.6,85.0,36.0,64.0,43.9,17.4,28.0,38.5
52,53,3,other,f,3.0,93.1,58.1,91.0,38.0,67.4,46.0,16.5,26.0,33.5
56,57,4,other,f,4.0,95.1,59.4,93.0,41.0,67.2,45.3,14.5,31.0,39.0
59,60,4,other,f,2.0,91.3,57.7,88.0,39.0,63.1,47.0,14.4,26.0,30.0
61,62,5,other,f,3.0,91.3,58.0,90.5,39.0,65.5,41.3,16.0,27.0,32.0
62,63,5,other,f,6.0,92.0,56.4,88.5,38.0,64.1,46.3,15.2,25.5,28.5
63,64,5,other,f,3.0,96.9,56.5,89.5,38.5,63.0,45.1,17.1,25.5,33.0
64,65,5,other,f,5.0,93.5,57.4,88.5,38.0,68.2,41.7,14.0,29.0,38.5
65,66,5,other,f,3.0,90.4,55.8,86.0,36.5,63.2,44.2,15.7,26.5,34.0
69,70,5,other,f,7.0,91.9,56.4,87.0,38.0,65.4,44.1,13.0,27.0,34.0
73,74,6,other,f,4.0,88.7,52.0,83.0,38.0,61.5,45.9,14.7,26.0,34.0
81,82,6,other,f,4.0,86.0,54.0,82.0,36.5,60.7,42.9,15.4,26.0,32.0
82,83,6,other,f,3.0,90.0,53.8,81.5,36.0,62.0,43.3,14.0,25.0,29.0
85,86,6,other,f,3.0,88.2,53.2,86.5,38.5,60.3,43.7,13.6,26.0,31.0
87,88,7,other,f,2.0,89.6,58.0,87.5,38.0,66.7,43.5,16.0,25.5,31.5
98,99,7,other,f,3.0,93.3,56.2,86.5,38.5,64.8,43.8,14.0,28.0,35.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [60]:
df.loc[df.sex =='f', 'age'] #return data only for female, along with the age

1      6.0
2      6.0
3      6.0
4      2.0
5      1.0
7      6.0
8      9.0
9      6.0
10     9.0
11     5.0
16     1.0
18     5.0
19     4.0
20     3.0
22     4.0
26     2.0
28     3.0
29     2.0
31     4.0
36     2.0
38     1.0
39     3.0
40     5.0
42     2.0
49     5.0
50     5.0
52     3.0
56     4.0
59     2.0
61     3.0
62     6.0
63     3.0
64     5.0
65     3.0
69     7.0
73     4.0
81     4.0
82     3.0
85     3.0
87     2.0
98     3.0
101    6.0
103    3.0
Name: age, dtype: float64

In [63]:
df.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [62]:
# based on integer of row & column
df.iloc[:, 0:2] # all rows, first three cols # =df[0:2] (shorter version)

     case  site
0       1     1
1       2     1
2       3     1
3       4     1
4       5     1
..    ...   ...
99    100     7
100   101     7
101   102     7
102   103     7
103   104     7

[104 rows x 2 columns]

***Ex2.*** What is the average age of a female possum?

In [10]:
female = df[df['sex'] == 'f']
female.head()
female.mean()
# df[df['sex'] == 'f'].mean()

<ipython-input-10-f65c576b73a4>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  female.mean()

case        43.418605
site         2.976744
age          3.976744
hdlngth     92.148837
skullw      56.588372
totlngth    87.906977
taill       37.104651
footlgth    69.111905
earconch    48.576744
eye         14.811628
chest       27.337209
belly       32.883721
dtype: float64

In [11]:
female.mean()

<ipython-input-11-8d020a6b25e5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  female.mean()

case        43.418605
site         2.976744
age          3.976744
hdlngth     92.148837
skullw      56.588372
totlngth    87.906977
taill       37.104651
footlgth    69.111905
earconch    48.576744
eye         14.811628
chest       27.337209
belly       32.883721
dtype: float64

***Ex3.*** Using a single line of code, retrieve the average age of female and male possum (hint: use group_by)

In [12]:
#DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, observed=False, dropna=True)[source]
df.groupby('sex')['age'].mean()

sex
f    3.976744
m    3.728814
Name: age, dtype: float64

***Ex4.*** Output the percentage of male and female. hint: use value_counts()

In [25]:
# Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)[source]
# Return a Series containing counts of unique values.

# df['sex'].value_counts() # m 61 f 43

# setting the normalize parameter to True to get proportions instead of counts. 
# mul(100): multiply by 100 to get percentage format
# round decimal to 2 digit
# astype(str): convert data type to string to prepare for concat
# add % symbol
df['sex'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

m    58.65%
f    41.35%
Name: sex, dtype: object

***Ex5.*** What percentage of possums have a taill smaller than the belly?

In [26]:
df['belly'].head()

0    36.0
1    33.0
2    34.0
3    34.0
4    33.0
Name: belly, dtype: float64

In [27]:
df['taill'].head()

0    36.0
1    36.5
2    39.0
3    38.0
4    36.0
Name: taill, dtype: float64

In [42]:
percentage = (df['taill'] < df['belly']).mean().round(2)*100
print(percentage,'%')

8.0 %

***Ex6.*** Show the average sizes of the eye, chest, and belly per sex.

In [43]:
#use groupby() to categorize columns
df.groupby('sex')['eye', 'chest', 'belly'].mean()

<ipython-input-43-456fe42244ff>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('sex')['eye', 'chest', 'belly'].mean()

           eye      chest      belly
sex
f    14.811628  27.337209  32.883721
m    15.211475  26.762295  32.377049

***Ex7.*** What is the smallest eye's size recorded for a female?

In [47]:
df[df['sex']=='f']['eye'].min()

13.0

***Ex8.*** How is the sex distributed for the possums with the 10 largest skull (skullw)

In [68]:
# use the nlargest() function to select the top 10 rows based on the 'skullw' column
# similar to df.sort_values(columns, ascending=False).head(n), but more performant
# DataFrame.nlargest(n, columns, keep='first')[source]
## df.nlargest(10, 'skullw')

# sex
df.nlargest(10, 'skullw')['sex'].value_counts()

m    9
f    1
Name: sex, dtype: int64

***Ex9.*** Create a new column named "taill_relative" to store the size of the tail relative to the possums' total length.

In [69]:
df['taill_relative'] = df['taill'] / df['totlngth']
df['taill_relative'].head()

0    0.404494
1    0.398907
2    0.408377
3    0.413043
4    0.421053
Name: taill_relative, dtype: float64

***Ex10.*** Retrieve all the possums that are in site 1 and have a chest greater than the median.

In [74]:
df[df['site']==1]['chest'] > df['chest'].median()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15     True
16     True
17     True
18     True
19    False
20     True
21     True
22     True
23    False
24     True
25     True
26    False
27    False
28    False
29    False
30    False
31     True
32    False
Name: chest, dtype: bool

***Ex11.*** Retrieve the smallest tail recorded for each site.

In [76]:
# group by site, then get the minimum
df.groupby('site')['taill'].min()

site
1    33.5
2    32.0
3    34.0
4    38.0
5    35.0
6    36.0
7    35.0
Name: taill, dtype: float64

***Ex12.*** Sort by decreasing age and increasing tail and keep records 5 (included) to 50 (not included)

In [81]:
# DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', 
#                       na_position='last', ignore_index=False, key=None)
# we can sort multiple columns, wrap the labels in [].
# The ascending parameter is set to [False, True] to specify the sorting order for each column.
sort_result = df.sort_values(by=['age', 'taill'], ascending=[False, True]).iloc[5:50, :]
sort_result.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,taill_relative
93,94,7,other,m,7.0,91.8,57.6,84.0,35.5,64.2,45.1,14.4,29.0,35.0,0.422619
25,26,1,Vic,m,7.0,96.0,59.0,90.0,36.0,73.6,56.2,15.0,29.0,38.0,0.400000
60,61,5,other,m,7.0,95.7,59.0,86.0,38.0,63.1,44.9,15.0,26.5,31.0,0.441860
69,70,5,other,f,7.0,91.9,56.4,87.0,38.0,65.4,44.1,13.0,27.0,34.0,0.436782
53,54,4,other,m,7.0,96.9,63.0,91.5,43.0,71.3,46.0,17.5,30.0,36.5,0.469945

***Ex13.*** Export the dataframe as a CSV named 'possum_export.csv'

In [82]:
# The index=False argument is used to exclude the index column from the exported CSV file. 
df.to_csv('possum_export.csv', index=False)

In [83]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Specify the file name
file_name = 'possum_export.csv'

# Join the directory and file name to get the full path
file_path = os.path.join(current_directory, file_name)

print("CSV file path:", file_path)

CSV file path: /content/possum_export.csv